#!/usr/bin/env bash
echo "initializing local development environment"

# we need access to our key manager for any of this to work
export BW_SESSION=$(bw unlock --raw)

export DB_USERNAME=$( bw get item devoxx-uk-2024 | jq -r '.fields[] | select(.name == "username") | .value'  )
export DB_PASSWORD=$( bw get item devoxx-uk-2024 | jq -r '.fields[] | select(.name == "password") | .value'  )
export DB_HOST=$( bw get item devoxx-uk-2024 | jq -r '.fields[] | select(.name == "host") | .value'  )
export DB_SCHEMA=$( bw get item devoxx-uk-2024 | jq -r '.fields[] | select(.name == "schema") | .value'  )

